<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>I am in the AppComponent</h3>
            <hr>
            <!-- <button class="btn btn-primary" (click)="showSecret = !showSecret">Display Details</button> -->
            <button class="btn btn-primary" (click)="onToggleDetails()">Display Details</button>
            <p *ngIf="showSecret">Secret Password = Tuna</p>
            <div *ngFor="let logItem of log; let i = index"
                [ngStyle]="{backgroundColor: i >= 5 ? 'blue' : 'transparent'}"
                [ngClass]="{'white-text': i >= 5}"
                >
                {{logItem}}
            </div>
            <hr>
            <app-servers></app-servers>
            <!-- <div app-servers></div> -->
            <!-- <div class="app-servers"></div> -->
            <!-- <hr> -->
            <app-warning-alert></app-warning-alert>
            <app-success-alert></app-success-alert>
        </div>
    </div>
</div>
